[Unit]
Description=Packet Speed Monitoring
After=network-online.target  ipc-broker.service
Wants=network-online.target  ipc-broker.service

[Service]
Environment=HOME=/home/lleonardo
WorkingDirectory=/home/lleonardo/bin/packet-speed-monitoring
ExecStart=/home/lleonardo/bin/packet-speed-monitoring/packet-speed-monitoring
Restart=always
User=root

[Install]
WantedBy=multi-user.target